# Frontend
FRONTEND_PORT=3000
FRONTEND_HOST=localhost
NEXT_PUBLIC_API_URL=http://localhost:8000

# Backend
faskplusai_ENV=development
faskplusai_POSTGRES_USER=faskplusai
faskplusai_POSTGRES_PWD=chooseyourpwd
faskplusai_POSTGRES_HOST=127.0.0.1
faskplusai_POSTGRES_PORT=5432
faskplusai_POSTGRES_DATABASE=faskplusai_db

# JWT
JWT_SECRET=your_secret_key_here
JWT_EXPIRATION=1d

# Environment
NODE_ENV=development

